/* ========== Variables ========== */
$Desktop: 768px;

/* ========== Fonts ========== */
@font-face {
  font-family: "Gill Sans";
  src: url("./dist/font/Gill\ Sans.otf");
}

@font-face {
  font-family: "Doulos";
  src: url("./dist/font/Doulos\ Sil.ttf");
}

@font-face {
  font-family: "Monument";
  src: url("./dist/font/Monument\ Extended.otf");
}

@font-face {
  font-family: "Cosi";
  src: url("./dist/font/Cosi\ Azure\ Ultra.ttf");
}

/* ========== Others ========== */
body {
  background-color: black;
  color: white;
  cursor: initial;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
}

/* ========== Nav ========== */
.nav {
  width: 100vw;
  height: 100px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: Doulos;
  position: fixed;
  top: 0;
  z-index: 1;

  a {
    margin: 0px 25px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    display: inline-block;
    transition: all 0.25s cubic-bezier(1, 0, 0.58, 0.97);
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      top: calc(50%);
      right: 0;
      background-color: white;
      transition: inherit;
    }

    &:hover:before,
    &.active:before {
      left: 0;
      width: 100%;
    }
  }
}

/* ========== About ========== */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0% 20%;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  position: relative;

  @media (max-height: 523px) {
    height: auto;
    padding: 100px 20%;
  }

  h2 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    text-align: center;
    font-size: 30px;
    z-index: 2;
    margin-top: 10%;
    span {
      font-family: Monument;
      text-transform: uppercase;
      font-weight: lighter;
      z-index: 2;
    }
  }
  h3 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: lighter;
    text-decoration: underline;
    text-align: center;
    margin-top: 5%;
    font-size: 20px;
    z-index: 2;
  }
  h4 {
    font-family: Doulos;
    margin-top: 5%;
    text-align: center;
    font-weight: lighter;
    z-index: 2;
  }
  .img {
    position: absolute;
    width: 200px;
    height: 300px;
    transition-timing-function: ease-out;
    @media (max-width: $Desktop) {
      display: none;
    }
  }
  .img-1 {
    background: url("dist/img/img2.jpg") no-repeat 50% 50%;
    background-size: cover;
    transition-duration: 800ms;
    @media (max-width: $Desktop) {
      background: none;
    }
  }
  .img-2 {
    background: url("dist/img/img1.jpg") no-repeat 50% 50%;
    background-size: cover;
    transition-duration: 600ms;
    @media (max-width: $Desktop) {
      background: none;
    }
  }
  .img-3 {
    background: url("dist/img/img3.jpg") no-repeat 50% 50%;
    background-size: cover;
    transition-duration: 400ms;
    @media (max-width: $Desktop) {
      background: none;
    }
  }
}

/* ========== Contact ========== */
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0% 20%;
  text-align: center;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;

  @media (max-height: 570px) {
    height: auto;
    padding: 100px 20%;
  }

  .info {
    margin-top: 5%;

    a {
      color: white;
    }

    h2 {
      margin: 0;
      font-family: "Doulos";
      text-decoration: underline;
    }
  }

  h3 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin-top: 5%;
    span {
      text-decoration: underline;
      font-weight: bold;
      font-family: Monument;
    }
  }

  form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    input,
    textarea {
      width: 60%;
      height: 30px;
      margin: 20px 0px;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid white;
      outline: none;
      color: white;
      text-align: center;
    }

    textarea {
      height: 50px;
    }

    .row {
      display: flex;
      flex-direction: row;
      width: 60%;
      justify-content: center;

      input {
        width: 50%;
        margin-left: 10px;
        margin-right: 10px;
      }

      @media (max-width: 700px) {
        flex-direction: column;
        
        input {
          width: 100%;
          margin-left: 0px;
          margin-right: 0;
        }
      }
    }

    button {
      background-color: transparent;
      width: 150px;
      height: 30px;
      color: white;
      font-family: Doulos;
      border: 1px solid white;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        background-color: #fff;
        color: black;
      }
    }
  }
}

/* ========== Modal ========== */
.modal {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  position: absolute;
  z-index: 2;
  top: -100%;

  h1 {
    font-family: Doulos;
    font-size: 40px;
    font-weight: lighter;
  }
  h2 {
    margin: 0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
}

/* ========== Work ========== */
.work {
  box-sizing: border-box;
  width: 100%;
  padding: 10% 20%;
  display: flex;
  flex-direction: column;
  text-align: center;

  a {
    text-decoration: none;
    margin: 20px;
    font-size: 7vw;
    font-family: Cosi;
    background: linear-gradient(to right, rgb(51, 51, 51) 50%, white 50%);
    background-size: 200%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease-out;

    &:hover {
      background-position: -100%;
    }
  }

  @media (max-width: 973px) {
    padding: 100px 20%;

    a {
      background-position: -100%;
    }
  }

  @media (max-height : 600px) {
    height: auto;
  }
}

/* ========== Project ========== */
.project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0% 20%;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  position: relative;
  text-align: center;

  @media (max-width: 650px), (max-height: 680px) {
    height: auto;
    padding: 20% 20%;
  }

  h1 {
    font-family: Cosi;
    font-size: 100px;
    margin: 0;
    margin-top: 10%;
  }

  h4 {
    font-family: Monument;
    font-size: 20px;
    margin: 20px 0px;
  }

  h2 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 20px;
    font-weight: lighter;
    text-decoration: underline;
  }

  .repo {
    margin-top: 50px;
  }

  .pagination {
    width: 100%;
    display: flex;
    margin-top: 50px;
    .pag {
      width: 50%;
    }
  }
  a {
    text-decoration: none;

    svg {
      stroke: rgb(51, 51, 51);
      transition: 0.2s;

      &:hover {
        stroke: white;
        transition: 0.2s;
      }
    }
  }
}
